[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "external/amgx"]
	path = external/amgx
	url = https://github.com/NVIDIA/AMGX
